<ion-header class="ion-no-border"[translucent]="true">
  <ion-toolbar>
    <ion-title>
     
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="true>">

    <ion-slide>
      <img src="./assets/turq.png">
      <h1>Welcome to</h1>
      <p>Synergic</p>
      <br><br>
     <ion-button [routerLink]="'/profiles'" style="--background:#12D8E1" shape ="round">Skip</ion-button> 
     </ion-slide>

    <ion-slide>
      <img src="./assets/turq2.png">
      <h2>Explore the World of business</h2>
      <br><br>
      <ion-button [routerLink]="'/profiles'" style="--background:#12D8E1" shape ="round">Get started</ion-button> 
    </ion-slide>
  </ion-slides>   
</ion-content>