
<ion-content>

 <div class="wrapper">
<div class="top">
  <img style="width: 100%; height: 100%;" src="assets/profilebg.jpg" alt="">

  <ion-avatar style="position: absolute; top: 20%; width: 30%; height: 40%;">
    <ion-icon style="position: absolute;top: 25%;font-size: 30px;color: white; font-weight:bold;left: 90%;" name="create-outline"></ion-icon>
    <img  src="assets/bg.jpg">
  </ion-avatar>
  <p style="position:absolute; font-weight:bold;color:white; bottom:7%">Company name</p>
  <p style="position:absolute;color:white; bottom:0%; font-size: 12px;">Company address</p>

</div>

<div class="bottom">
  <ion-card style="width: 90%; height: 90%; display: flex;justify-content: left;align-items: initial;flex-direction: column;">
  <p style="font-weight: bold; font-size: 14px;position: absolute;left: 3%;">Description</p>
  <p style="position: absolute;left: 3%; top: 16%;">Sawubona</p>
  </ion-card>
</div>
<div class="segments">

  <ion-segment [(ngModel)]="selectedtabs " style="position: absolute; top: 0px;">
    <ion-segment-button value="Spaces">
      <ion-label>Spaces</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Reviews">
      <ion-label>Reviews</ion-label>
    </ion-segment-button>
  </ion-segment>


  <div  style="width: 100%; height: 85%; display: flex;justify-content: center;align-self: center;" *ngIf="selectedtabs == 'Spaces'">  
    <ion-card style="width: 90%;height: 90%;background-color: white;">
   Spaces
    </ion-card>
   </div>
   <div  style="width: 100%; height: 85%; display: flex;justify-content: center;align-self: center;" *ngIf="selectedtabs == 'Reviews'"> 
     
     <ion-card style="width: 90%;height: 90%;background-color: white; ">
      Reviews
     </ion-card>
    
</div>


   
   
   </div> 


 </div>

  <!-- <ion-card  *ngFor="let x of array; let i = index">
    <div  >
<ion-grid>
  <ion-row>
    <ion-col size="4">
    </ion-col>
    <ion-col size="4">
      <ion-avatar style="height:100px;width:100px;">
        <img  src="assets/profile.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col size="4">

    </ion-col>
  </ion-row>
</ion-grid>

     


     <ion-card-header>

      <ion-grid>
        <ion-row>
          {{x.company_name}}
        </ion-row>
        <ion-row>
          {{x.aboutus}}
        </ion-row>
        <ion-row>
          {{x.company_address}}
        </ion-row>
        <ion-row>
          <div *ngFor="let y of x.outside_features;">
            <ion-card-subtitle *ngIf="y==='Ben 10'"  >
              <img style="height:15%;width:15%;" src="./assets/outside/228467827.ico" />
            </ion-card-subtitle>
          </div>
        </ion-row>
        <ion-row>
          {{x.company_emaile}}
        </ion-row>
        <ion-row>
          {{x.company_tel}}
        </ion-row>
        <ion-row>
          {{x.company_website}}
        </ion-row>
        <ion-row>
          {{x.social_media}}
        </ion-row>
      </ion-grid> -->


<!-- 
       <ion-card-title>{{x.company_name}}</ion-card-title>
       <ion-card-title>{{x.aboutus}}</ion-card-title>
       <ion-card-subtitle>{{x.company_address}}</ion-card-subtitle>
<div *ngFor="let y of x.outside_features;">
  <ion-card-subtitle *ngIf="y==='Ben 10'"  >
    <img style="height:15%;width:15%;" src="./assets/outside/228467827.ico" />
  </ion-card-subtitle>
</div>
       <ion-card-subtitle>{{x.company_emaile}}</ion-card-subtitle>
       <ion-card-subtitle >{{x.company_tel}}</ion-card-subtitle>
       <ion-card-subtitle>{{x.company_website}}</ion-card-subtitle>
       <ion-card-subtitle>{{x.social_media}}</ion-card-subtitle> -->
     <!-- </ion-card-header>
   </div>
 </ion-card>

  <ion-card>
    <ion-grid>
      <ion-row>
          <ion-col>
             <ion-avatar >
                <img src="assets/profile.jpg">
          </ion-avatar>
        </ion-col>
        <ion-col>
            <ion-grid>
              <ion-row>
                Building 4
              </ion-row>
              <ion-row>
                Kibler park
              </ion-row>
              <ion-row>
                Contains 18 offices...
              </ion-row>
            </ion-grid>
        </ion-col>   
      </ion-row>
    </ion-grid>
  </ion-card>

  <a  style="color: black;" [routerLink]="'/add-profile-modal'">update profile</a> -->
  

