<ion-content>
  <div class="holder">
    <div class="img">
      <img style="width: 100%;height: 100%;" src="assets/space1.jpg">

      <ion-slides>

        <ion-slide>
            <img class="slides" style="width:100%; height:50%;" src="assets/office.jfif"/>
            <h2 class="category">Single office</h2> 
        </ion-slide>

        <ion-slide>
          <img class="slides" style="width:100%; height:50%;" src="assets/board.jpg"/>
          <h2 class="category">boardroom</h2>
        </ion-slide>

        <ion-slide>
          <img class="slides" style="width:100%; height:50%;" src="assets/open.jfif"/>
          <h2 class="category">Shared office</h2>
        </ion-slide>
        </ion-slides>

    </div>

    <div class="content">
      <div class="names">
        <p style="position: absolute;left: 3%;top: 2%; font-weight: bold;">Soweto Empowerment Zone</p>
        <p style="position: absolute;left: 3%;top: 30%;color: coral;">Open plan office</p>
      </div>
      <!-- booking fields -->
      <!-- <div class="booking">
    <p class="date1" style="font-size: 12px;position: absolute;left: 5%;top: 5%;">Date in.</p>
    <ion-datetime style="position: relative;right:20%;top:3%;" value="date in" placeholder="Select Start Date"></ion-datetime>
    <p style="font-size: 12px;position: absolute;right:20%;top: 5%;">Date out.</p>
    <ion-datetime style="position: relative;right:20%;top:3%;" value="date out" placeholder="Select End Date"></ion-datetime>
    <p class="timein" style="font-size: 12px;position: absolute;left: 20%;top: 20%;">Time in.</p>
    <ion-datetime style="position: relative;right:20%;top:3%;" value="date in" placeholder="Select Start Date"></ion-datetime>
    <p class="timeout" style="font-size: 12px;position: absolute;right: 30%;top: 30%;">Time out.</p>
  </div> -->
    </div>

    <div class="time">
      <form>

        <div class="rows">
        <ion-row>
          <ion-col size="6">
            <ion-label><b>Date in:</b></ion-label>
            <ion-input style="border: solid 1px; border-color: grey; "type="date"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-label><b>Date out:</b></ion-label>
            <ion-input style="border: solid 1px; border-color: grey;" type="date"></ion-input>
          </ion-col>
        </ion-row>
     

        <ion-row>
          <ion-col size="6">
            <ion-label><b>Time in:</b></ion-label>
            <ion-input  style="border: solid 1px; border-color: grey;" type="time"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-label><b>Time out:</b></ion-label>
            <ion-input  style="border: solid 1px; border-color: grey;" type="time"></ion-input>
          </ion-col>
        </ion-row>

  
        </div>
      </form>

    </div>


  </div>
</ion-content>