<ion-content>
  <body>
    <div class="card">
      <div class="header">
        <div class="avatar">


          <br><br><br><br>


    <img src="./assets/profile.jfif" style="width:50px;height: 50px; justify-content: center;align-items: center;margin-left: 40%;">
    

<br><br><br><br>

  <div class="box">
      <ion-list>
        <ion-item>
          <ion-label>First Name</ion-label>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Last Name</ion-label>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>
      </ion-list>
      
  
  <ion-item>
          <ion-label>Location</ion-label>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>
      



      <ion-item>
          <ion-label>Contact</ion-label>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>
      <br>
        <div style='float:left; width:30%'>
         Website
          </div>
          
         
    <br><br>

  
    <div style='float:left; width:30%'>
      BIO
      </div>
      
  

 <!-- <button>Edit</button>
 </div>  -->

 <ion-button shape="round">
Edit
</ion-button>
     
    
    
    
    <ion-content>


