

<ion-content>
  <ion-icon style="font-size: 30px; color: black;" name="exit-outline"></ion-icon>
<div class="wrapper">
  <div class="addForm">
    <form action=""   [formGroup]="updateForm"  >
        
      <div  >
              <ion-input  formControlName="company_name"  placeholder="Name.."></ion-input>
                  
        <ion-input formControlName="company_address"  placeholder="company_address.."></ion-input>
        <ion-input  formControlName="company_emaile"  placeholder="Email.."></ion-input>
        <ion-input  formControlName="company_tel"  placeholder="Phone.."></ion-input>
  
<ion-input  formControlName="company_website" placeholder="Website.."></ion-input>
<ion-input  formControlName="social_media" placeholder="social_media.."></ion-input><br>

<ion-textarea formControlName="aboutus" placeholder="About us.."></ion-textarea>
<ion-item>
    <ion-input type="file"  required   name="img"  accept="image/*" id="upload" (change)="fileChangeEvent($event)"></ion-input>
  </ion-item>
  <div *ngFor="let cartoon of cartoonsData">
    <iongrid>
      <ion-row>
        <ion-col>
          <input type="checkbox"  (change)="onChange(cartoon.name, $event.target.checked)" /> 
        </ion-col>
        <ion-col>
          {{cartoon.name}}
        </ion-col>
      </ion-row>
    </iongrid>
     </div>


<ion-button shape="round" (click)="submit()" [disabled]="!updateForm.valid" style="--background: #18d3e0;width: 100%; color: black;font-weight: bold;" >Update</ion-button>
    </div>  
</form>


    
  </div>
</div>
</ion-content>
