<!-- <ion-header>
  <ion-toolbar>
    <ion-title>user-bookings</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container">

  <ion-card>
  
    <ion-card-content>
      <ion-label>Date in
        <ion-input></ion-input>
      </ion-label>

      <ion-label>Date out
        <ion-input></ion-input>
      </ion-label>

      <ion-label>Time in
        <ion-input></ion-input>
      </ion-label>

      <ion-label>Time out
        <ion-input></ion-input>
      </ion-label>

    </ion-card-content>
    <ion-button style="--background: #16D6E3;">Book</ion-button>
    <ion-button style="--background: red;">Delete</ion-button>

  </ion-card>
  </div>
</ion-content>
<ion-footer
  style="position: absolute; height: 50px;bottom: 0px;background-color:  #303d3d; display: flex;justify-content: center;align-items: center;">

  <ion-icon [routerLink]="'/user-landing'" style="font-size: 30px;position: absolute;right: 7%;color: grey;"
    name="person-outline"></ion-icon>
  <ion-icon [routerLink]="'/favourites'" style="font-size: 30px;position: absolute;right: 48%;color: grey;"
    name="heart-outline"></ion-icon>
  <ion-icon [routerLink]="'/profiles'" style="font-size: 30px;position: absolute;left: 7%;color: grey;"
    name="home-outline"></ion-icon>
  <!-- <ion-icon [routerLink]="'/upload-space'" style="position: absolute;left:33%;font-size: 30px;color: grey;" name="add-circle-outline"></ion-icon> -->
</ion-footer>
