<!-- <ion-header>
  <ion-toolbar>
    <ion-title>profiles</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="wrapper">
    <div class="top">
      <p style="position: absolute;top: 10%;left: 5%;font-size: 15px;font-weight: bold;color: white;">Search</p>
      <ion-toolbar style="--background:#1B1B1B;position: absolute;bottom: 0px;">
        <ion-searchbar  style="--background:white;"></ion-searchbar>
      </ion-toolbar>
    </div>
    <div style="overflow-x: auto;font-size: 12px;" class="medium">
     <p style="position: absolute;left: 5%;color:#16D6E3;border-radius: 20px;border-style: solid;border-color: white;border-width: 1px; ">Offices</p>
     <p style="position: absolute;color: #16D6E3;right: 53%; border-style: solid;border-color: white;border-width: 1px;border-radius: 20px;">Boardrooms</p>
     <p style="position: absolute;right:5%;color: #16D6E3; border-style: solid;border-color: white;border-width: 1px;border-radius: 20px;">Single</p>
     <p style="position: absolute;right:30%;color: #16D6E3; border-style: solid;border-color: white;border-width: 1px;border-radius: 20px;">Single</p>
    </div>
    <div class="bottom">
<ion-card *ngFor="let x of array">
  <div  (click)="openModal(x.uid)" class="img">
    <img style="width: 100%; height: 100%;" [src]="x.img_profile" />
   
  </div>
  <div class="text">
     <ion-card-header>
      <ion-card-title style="font-size: 13px;font-weight: normal;color: white;font-weight: bold;">{{x.company_name}}</ion-card-title>
      <ion-card-subtitle style="font-size: 13px;font-weight: normal;font-size:10px;color: white">{{x.aboutus}}</ion-card-subtitle>
     
    </ion-card-header>
  </div>
</ion-card>

    </div>
  </div>
   <!-- <ion-card *ngFor="let x of array">
   <div  (click)="openModal(x.uid)">
    <img [src]="x.img_profile" />
    <ion-card-header>
      <ion-card-title>{{x.company_name}}</ion-card-title>
      <ion-card-subtitle>{{x.aboutus}}</ion-card-subtitle>
     
    </ion-card-header>
  </div>
</ion-card> -->

</ion-content>
<!-- aboutus: "The textarea component is used for multi-line text input. A native textarea element is rendered inside of the component."
company_address: "cnr codron and maven road"
company_emaile: "roosebank@rose.com"
company_name: "Rosebank office park"
company_tel: "0786901232"
company_website: "www.pui.com"
date: t {seconds: 1606593002, nanoseconds: 608000000}
img_profile: "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD"
outside_features: (4) ["Tom and Jerry", "Rick and Morty", "Ben 10", "Batman: The Animated Series"]
profile_uid: "TRHjFD2bPNunbdYz3XuH"
social_media: "facebook"
uid: "8j3w4lEbm3OBxgQYVNGQmN1YU292"
user_uid: "TRHjFD2bPNunbdYz3XuH"
usergroup: "owner" --><ion-footer style="position: absolute; height: 50px;bottom: 0px;background-color:  #303d3d; display: flex;justify-content: center;align-items: center;" >

  <ion-icon [routerLink]="'/profile'" style="font-size: 30px;position: absolute;right: 7%;color: grey;" name="person-outline"></ion-icon>
  <ion-icon [routerLink]="'/favourites'" style="font-size: 30px;position: absolute;right: 48%;color: grey;" name="heart-outline"></ion-icon>
  <ion-icon [routerLink]="'owner-home'" style="font-size: 30px;position: absolute;left: 7%;color: grey;" name="home-outline"></ion-icon>
  <!-- <ion-icon [routerLink]="'/upload-space'" style="position: absolute;left:33%;font-size: 30px;color: grey;" name="add-circle-outline"></ion-icon> -->
</ion-footer>